@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './sass/variables';
@import './sass/mixins';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  scroll-behavior: smooth;
  font-family: $inter;
  font-size: 16px;

  #root{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem; 
  }

  .section-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    //width: calc(35vw - 10rem);
    height: 100vh;
    background: $bg-form-color;
  }

  .section-card{
    display: grid;
    place-items: center;
    width: 60vw;
  }

  @import './sass/responsive';
}

@import './components/Button/button.scss';
@import './components/Card/cardComponent';
@import './components/FormComponent/formComponent';
@import './components/InputText/inputText';
@import './components/Title/title';

